<p id="notice"><%= notice %></p>

<h1>Cooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Good</th>
      <th>Image url</th>
      <th>Link url</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooks.each do |cook| %>
      <tr>
        <td><%= cook.name %></td>
        <td><%= cook.good %></td>
        <td><%= cook.image_url %></td>
        <td><%= cook.link_url %></td>
        <td><%= cook.group %></td>
        <td><%= link_to 'Show', cook %></td>
        <td><%= link_to 'Edit', edit_cook_path(cook) %></td>
        <td><%= link_to 'Destroy', cook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cook', new_cook_path %>
