<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @notification.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @notification.receiver_id %>
</p>

<p>
  <strong>Sender name:</strong>
  <%= @notification.sender_name %>
</p>

<p>
  <strong>Receiver name:</strong>
  <%= @notification.receiver_name %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
